
footer {
    width: 100vw;
    height: 43px;
    background: rgba(24, 23, 24, 0.9);
    color: white;
    font-size: 22px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer p {
    padding-top: 15px;
}