
footer {
    width: 100vw;
    height: 7vh;
    background: rgba(24, 23, 24, 0.9);
    color: white;
    font-size: 22px;
    margin: auto;
    text-align: center;
}

footer p {
    padding-top: 15px;
}