@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

section {
    height: 86vh;
    position: relative;
    background-image: url("assets/images/star.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    font-family: 'Roboto', sans-serif;
    background: black;
}

footer {
    position: absolute;
    bottom: 0;
}

